@import url(https://fonts.googleapis.com/css?family=Thasadith);
@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Bungee+Shade);
@import url(https://fonts.googleapis.com/css?family=Oswald);
.food-background {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 1400px;
    position: absolute;
    top: 0;
    left: 0;    
    background-image: url('/assets/images/food.jpg');
}

.layer {
    background-color: rgba(17, 17, 16, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


body {
  background-color: #222;
}
.logo-container {
  width: 410px;
}
.text-border {
  color: #fff;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  color: #fff;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: transparent;
  padding: 0 0.3em;
}
.text1 {
  font-size: 40px;
  padding-top: 7px;
}
.text2 {
  font-size: 125px;
}
.text3 {
  font-size: 70px;
}
.top-text {
  border-bottom: 3px solid #fff;
}
.bottom-text {
  border-top: 3px solid #fff;
}

.search-bar-custom {
  border: 2px solid white;
  border-radius: 10px 10px 10px 10px;
  font-size: 18px;
  padding: 5px;
  height: 35px;
  width: 350px;
  background: transparent;
  color: white;
}

.search-bar-custom::placeholder {
  color: white;
  text-shadow: 0.3px 0.3px white;
  font-family: 'Quicksand', sans-serif;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
.nav-design {
  margin-bottom: 90px;
}
option{
  background: transparent;
  color: white;
}

li {
  list-style: none
}

/* nav creation */
.nav-links {
 list-style: none;
 margin-right: 1em; 
 font-family: 'Bungee Shade', cursive;
 font-size: 25px;
}

.nav-link-right {
  float: right;
}

.nav-link-left {
  float: left;
  margin-left: -20px;
}

.link-style {
  color: rgb(255, 255, 255,0.8);
  text-decoration: none;
}

.left-animation:hover {
  -webkit-transition:All .5s ease;
 -moz-transition:All .5s ease;
 -o-transition:All .5s ease;
 
 -webkit-transform: rotate(-10deg) scale(1.2);
 -moz-transform: rotate(-10deg) scale(1.2);
 -o-transform: rotate(-10deg) scale(1.2);
}

.right-animation:hover {
  -webkit-transition:All .5s ease;
  -moz-transition:All .5s ease;
  -o-transition:All .5s ease;
  
  -webkit-transform: rotate(10deg) scale(1.2);
 -moz-transform: rotate(10deg) scale(1.2);
 -o-transform: rotate(10deg) scale(1.2);
}

.logged-in {
  left: 0;
  margin-top: 190px;
  position: fixed;
}

.log-out {
  right: 0;
  margin-top: 200px;
  position: fixed;
}
img {
  background: transparent;
}

.google{
 height: 50px;
 width: 50px;
}



.google-button{
  background:rgb(255, 255, 255,0.4);
  border-radius: 3px;
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size:1.2em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.google-button:hover{
  background:transparent;
  color: white;
}
.google-button:before,.google-button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:4px;
  width:0;
  background: linear-gradient(to right, #DB4437, #F4B400, #0F9D58, #4285F4);
  transition:400ms ease all;
}
.signout:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.google-button:hover:before,.google-button:hover:after{
  width:100%;
  transition:800ms ease all;
}

.logged-in-text {
  font-family: 'Quicksand', sans-serif;
  color:white;
}

.text-link{
  font-family: 'Quicksand', sans-serif;
}
.text-link:link {
  text-decoration: none;
  font-weight: bold;
}

.results{
  color: black;
  background-color:rgb(255, 255, 255,0.8);
  text-align: left;
}

.results:hover {
  transform: scale(1.1);
  color: black;
  background-color: rgb(67, 67, 218,0.6);
}

.details {
  background-color: rgb(255, 255, 255, 0.8);
  margin-top: 30px;
  border-radius: 10px;
}

.detail-photo {
  width: 300px;
  height: 200px;
}

.text-align-left {
  text-align: left;

}

.business-name {
  
  padding-top: 10px;
  font-size: 50px;
}

.card-background {
  background-color: rgb(0, 0, 0, 0.8);
}

.business-action-button {
  border-radius: 3px;
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-size:1.2em;
  padding:0 2em;
}

.card-text-style {
  color:black;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}


.ember-google-map {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.position-map {
  margin-top: -600px;
}

.alignment-results {
  margin-left: -50px;
}

.favorites {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 50px;
}