<div class="food-background">
    <div class="layer">
        <div class="logo-container mx-auto">
            <p class="script mt-3"><span>Wish Dish</span></p>
            <p class="text-border text1">THOUSANDS OF</p>
            <p class="text-border text2">FOOD</p>
            <p class="text-border text3">OPTIONS</p>
            <p class="script"><span>Powered by Yelp</span></p>
        </div>

        <div>
            {{input type="text" class="form-control w-25 mx-auto mt-5 text-center" value=restName placeholder="Enter a resturant name"}}
            {{input type="number" class="form-control w-25 mx-auto mt-1 text-center" value=price placeholder="Enter a maximum price"}}

        </div>
    </div>
</div>
{{outlet}}