<h1 class="favorites mt-5">Saved Favorites</h1>
<div class="mt-2 alignment-results">
    <ol>
    {{#each model as |favorite|}}
    <LinkTo @route="detail" @model={{favorite.yelpid}}><li class="results list-group-item list-group-item-action w-50 mx-auto">{{favorite.name}} <span class="float-right">⭐</span></li></LinkTo>
    {{else}}

    {{/each}}
    </ol>
</div>
{{outlet}}