<div class="mt-5">
    <h1>Favorites</h1>
    <ol>
    {{#each model as |favorite|}}
    <LinkTo @route="detail" @model={{favorite.yelpid}}><li class="results list-group-item list-group-item-action w-75 mx-auto">{{favorite.name}}</li></LinkTo>
    {{else}}

    {{/each}}
    </ol>
</div>
{{outlet}}